{% extends 'base' %}
    {% block content %}
    test

    {% if name != appel %}
        test

        {% else %}
        aaaa
    {% endif %}

    {% if name > 1 %}
        <p>Welcome, {{ name }}!</p>
    {% else %}
        <p>You must be at least 18 years old to enter.</p>
    {% endif %}

    {% foreach hobbies as hobby %}
        <li>{{ hobby }}</li>
    {% endforeach %}

    {% for i in 1..10 %}
        <p>{{ loop.index }} - {{ i }}</p>
    {% endfor %}
{% endblock %}

{% block test2 %}
AAAAAPPPPELELELLLL
{% endblock %}


