{% extends 'base' %}

{% block content %}

<div id="kt_app_content" class="app-content  flex-column-fluid ">


    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container  container-xxl ">

        <!--begin::Navbar-->
        <div class="card mb-6 mb-xl-9">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
                    <!--begin::Image-->
                    <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                        <img class="mw-50px mw-lg-75px" src="{{ asset('assets/media/svg/files/folder-document.svg') }}" alt="image">
                    </div>
                    <!--end::Image-->

                    <!--begin::Wrapper-->
                    <div class="flex-grow-1">
                        <!--begin::Head-->
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <!--begin::Details-->
                            <div class="d-flex flex-column">
                                <!--begin::Status-->
                                <div class="d-flex align-items-center mb-1">
                                    <span class="text-gray-800 fs-2 fw-bold me-3">{{ exam.name }}</span>
                                    <span class="badge badge-light-{{ exam.status_class }} me-auto">{{ exam.status }}</span>
                                </div>
                                <!--end::Status-->

                                <!--begin::Description-->
                                <div class="d-flex flex-wrap fw-semibold mb-4 fs-5 text-gray-400">
                                    {{ exam.description }}
                                </div>
                                <!--end::Description-->
                            </div>
                            <!--end::Details-->

                            <!--begin::Actions-->
                            <div class="d-flex mb-4">
                                {% if exam.has_rights == true %}
                                    <a href="#" class="btn delete-exam btn-sm btn-bg-danger-dark btn-active-color-danger me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_users_search">Verwijder tentamen</a>
                                    <a href="#" class="btn btn-sm btn-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_new_target">Wijzig examen</a>
                                {% endif %}
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Head-->

                        <!--begin::Info-->
                        <div class="d-flex flex-wrap justify-content-start">
                            <!--begin::Stats-->
                            <div class="d-flex flex-wrap">
                                <!--begin::Stat-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Number-->
                                    <div class="d-flex align-items-center">
                                        <div class="fs-4 fw-bold">{{ exam.date }}</div>
                                    </div>
                                    <!--end::Number-->

                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-gray-400">Datum</div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Stat-->

                                <!--begin::Stat-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Number-->
                                    <div class="d-flex align-items-center">
                                        <i class="ki-duotone ki-arrow-down fs-3 text-danger me-2"><span class="path1"></span><span class="path2"></span></i>                                <div class="fs-4 fw-bold counted" data-kt-countup="true" data-kt-initialized="1">{{ exam.mark_count }}</div>
                                    </div>
                                    <!--end::Number-->

                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-gray-400">Beoordelingen</div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Stat-->

                                {% if isset(exam.mark) %}
                                <!--begin::Stat-->
                                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Number-->
                                    <div class="d-flex align-items-center">
                                        <i class="ki-duotone ki-arrow-up fs-3 text-success me-2"><span class="path1"></span><span class="path2"></span></i>                                <div class="fs-4 fw-bold counted" data-kt-countup="true" data-kt-countup-value="15000" data-kt-countup-prefix="$" data-kt-initialized="1">{{ exam.mark }}</div>
                                    </div>
                                    <!--end::Number-->

                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-gray-400">Mijn beoordeling</div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Stat-->
                                {% endif %}
                            </div>
                            <!--end::Stats-->




                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Details-->
            </div>
        </div>
        <!--end::Navbar-->
    </div>
    <!--end::Content container-->
</div>

{% endblock content %}

{% block customJs %}
<script>
    $('.delete-exam').on('click', () => {
        Swal.fire({
            title: 'Weet je het zeker?',
            text: "Je kunt dit niet ongedaan maken!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ja, verwijder het!',
            cancelButtonText: 'Nee, annuleer!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/exams/{{ exam.id }}/delete',
                    type: 'DELETE',
                    success: function(result) {
                        Swal.fire(
                            'Verwijderd!',
                            'Het examen is verwijderd.',
                            'success'
                        ).then(() => {
                            window.location.href = '/exams';
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock customJs %}