{% extends 'base' %}

{% block content %}
<div id="kt-app-content" class="app-content">
    <div id="kt_app_content_container" class="app-container">
        <div>
            {% foreach marks as mark %}
            <div class="p-4 d-flex align-items-center">
                <span class="w-100px">{{ mark.student }}</span>
                <span class="mx-4 w-100px">{{ mark.mark }}</span>
                <a href="#" data-id="{{ mark.id }}" class="btn delete-mark btn-sm btn-bg-danger-dark btn-active-color-danger me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_users_search">
                    Verwijder
                </a>
            </div>
            {% endforeach marks %}
        </div>

        <form method="post">
            <div class="d-flex">
                <div>
                    <label for="student_id" class="required form-label">
                        Student
                    </label>
                    <select name="student_id" id="student_id" class="form-control form-control-solid">
                        <option value="">Selecteer student...</option>
                        {% foreach students as student %}
                        <option value="{{ student.id }}">{{ student.name }}</option>
                        {% endforeach students %}
                    </select>
                </div>

                <div>
                    <label for="mark" class="required form-label">
                        Cijfer
                    </label>
                    <input
                            type="number"
                            step="0.1"
                            name="mark"
                            min="1"
                            max="10"
                            id="mark"
                            class="form-control form-control-solid"
                            placeholder="Voer cijfer in">
                </div>
            </div>

            <div class="d-flex align-items-center mt-4">
                <button type="submit" class="btn btn-primary">
                    Opslaan
                </button>

                {% if failed %}
                <div class="text-danger mx-4">
                    Kon niet opslaan door een fout in de invoer.
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block customJs %}
<script>
    $('.delete-mark').on('click', (e) => {
        Swal.fire({
            title: 'Weet je het zeker?',
            text: "Je kunt dit niet ongedaan maken!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ja, verwijder het!',
            cancelButtonText: 'Nee, annuleer!',
            reverseButtons: true
        }).then((result) => {
            const markId = $(e.target).attr('data-id');

            if (result.isConfirmed) {
                $.ajax({
                    url: `/exams/{{ exam.id }}/marks/${markId}`,
                    type: 'DELETE',
                    success: function(result) {
                        Swal.fire(
                                'Verwijderd!',
                                'Het cijfer is verwijderd.',
                                'success'
                        ).then(() => {
                            window.location.href = '/exams/{{ exam.id }}/update-marks';
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock customJs %}